<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 mt-6 left d-flex flex-wrap justify-content-start">
      {% for post in post_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
              <img class="card-img-top" src="">
              {% else %}
              <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
              {% endif %}
              <div class="image-flash">
                <p class="author">Author: {{ post.author }}</p>
              </div>
            </div>
            <a href="{% url 'blog:post_detail' post.slug %}" class="post-link" aria-label="Read More: {{ post.title }}">
              <h2 class="card-title" style="color: rgb(85, 84, 84); text-decoration-color: black;">{{ post.title }}</h2> 
              <p class="card-text" style="color: rgb(151, 151, 155); text-decoration-color: black;">{{ post.excerpt }}</p> 
              <p class="card-text text-muted h6" aria-label="Posted on: {{ post.created_on }}"></i>{{ post.created_on }}</i></p>
            </a>
          </div>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-label="Previous Page">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" aria-label="Next Page"> NEXT &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
