{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
</head>
<body>
  <header class="p-3 text-black" aria-label="Feedback Form Header">
    <h1>Contact Form</h1>
  </header>  
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 text-left">
        <form method="post" id="contact-form">
          {{ form|crispy }}
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
    <div id="thank-you" class="d-none bg-danger text-white p-3 fixed-top text-center">
      Thank you for your contacting us!
    </div>


  <script>
  const form = document.querySelector('#contact-form');
  const thankYou = document.querySelector('#thank-you');

  form.addEventListener('submit', (event) => {
    event.preventDefault();
    thankYou.classList.remove('d-none');
    setTimeout(() => {
      thankYou.classList.add('d-none');
      form.reset(); 
    }, 2500);
  });
  </script>
  {% endblock %}
    